doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title mikroskeem's place
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='mikroskeem, Mark Vainomaa')
    meta(name='description', content="mikroskeem's personal page.")
    meta(name='author', content='Mark Vainomaa')
    link(type='text/plain', rel='author', href='/humans.txt')
    style(type='text/css').
      .container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}#stw,.heading{text-align:center}#backbutton,#stw{visibility:hidden;}
    script(async='', data-main='/static/js/main.min', src='/static/js/require.js', type='text/javascript')
  body
    noscript You need HTML5, Javascript and AJAX to view this page
    .container
      #content Loading content...
      #backbutton
        hr
        p
          a(href='javascript:history.back()') Go back
      #stw
        span
          i.fa.fa-2x.fa-arrow-circle-up
